/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #fffef1;
}

header {
    background-color: #0c273d;
    color: #fffef1;
    padding: 1rem 2rem 0 2rem;
    margin: 0 !important;
}

h1 {
    font-size: 60px;
    margin: 0 !important;
}

/*navigation*/

nav {
    background-color: #2161a7;
}

nav ul {
    list-style: none;
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    max-width: 75ch;
    margin: 0 auto 0 auto;
    padding: 0 !important;
}

@media screen and (max-width: 580px) {
  nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
  }
}

.nav_bar a {
    display: block;
    padding: 10px 16px;
    background-color: #2161a7;
    color: #fffef1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav_bar a:hover {
    background-color: #fffef1;
    color: #0c273d;
    transition: color 0.3s ease;
}

/*website body on all pages*/

.body_text {
    max-width: 75ch;
    min-width: 45ch;
    margin: 0 auto;
    padding: 0 2em;
}

#map {
  height: 600px !important;
  width: 90% !important;
  left: 5%;
  right: 5%;
  box-sizing: border-box;
  margin-bottom: 10rem;
  border: 10px solid #0c273d;
}

/*footer*/
footer {
    background-color: #0c273d;
    color: #fffef1;
    margin-top: auto !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer > h1 {
    padding-bottom: 1rem;
}

footer img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

#contact_form {
    padding: 1rem;
    margin: 0 2rem 0 2rem;
}

#contact_form input,
#contact_form textarea {
    width: 100%;
    padding: .75rem;
    border: 1px solid #2161a7;
    box-sizing: border-box;
}


/*popups*/
.popup-content, ol {
    background-color: #0c273d;
    border-radius: 5px;
    color: #fffef1;
    width: fit-content;
    height: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    list-style-type: none;
    line-height: 1.5;
}

.bathroom-photos {
    width: 20em;
    height: 100%;
    border-radius: 5px;
}

/*review page*/

#review_form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 75ch;
    margin: 0 auto;
    padding-bottom: 1rem;
}

#review_form input,
#review_form textarea {
    width: 100%;
    padding: .75rem;
    border: 1px solid #2161a7;
    box-sizing: border-box;
}

button {
    background-color: ;
}
