/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

body {
    display: block;
    margin-left: 2em;
    margin-right: 2em;
    font-family: ;
}
p {
    font-size: 2em;
}

#map {
  height: 500px;
  width: 100%;
}

/*popups*/
.popup-content, ol {
    background-color: #0c273d;
    color: #fffef1;
    width: fit-content;
    height: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    list-style-type: none;
    line-height: 1.5;
}